  footer {
    background-color: var(--color-cyan-blue);
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .footer-inner {
    padding-inline: 50px;
    position: relative;
    z-index: 9;
  }

  .footer-first-col {
    display: flex;
    gap: 30px;
  }

  .footer-title {
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-list {
    list-style: none;
    padding: 0;
  }

  .footer-list a {
    color: #242424;
  }

  .footer-list a:hover {
    color: var(--color-primary);
  }

  .footer-form :is(input, button) {
    width: 100%;
  }

  .footer-input {
    width: 100%;
  }

  .footer-input {
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    padding-inline: 10px;
    margin-bottom: 15px;
  }

  .footer-contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
    gap: 20px;
  }

  .footer-contact-info .contact-group {
    display: flex;
    flex-wrap: wrap;
    /* width: calc(50% - 15px); */
    gap: 10px;
  }

  .footer-contact-info .text-mute {
    margin: 0;
    color: #4b5563;
  }

  .footer-contact-info a {
    color: #242424;
    font-weight: 600;
    white-space: nowrap;
  }

  .footer-contact-info .contact-group:last-child a {
    text-decoration: underline !important;
  }

  .footer-contact-info img {
    height: 25px;
    width: 25px;
  }

  .footer-social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .footer-social-icons img {
    height: 35px;
    width: 35px;
  }

  .footer-social-icons img:first-child {
    height: 38px;
    width: 38px;
  }

  .footer-divider {
    border: 1px solid #242424;
    margin-block: 20px;
  }

  .footer-bottom {
    color: #4b5563;
  }

  .footer-bottom a {
    color: inherit;
  }

  .copy-right {
    margin-bottom: 0;
  }

  .copy-right a {
    text-decoration: underline !important;
    font-weight: 600;
    font-size: inherit;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-bottom a:hover {
    color: var(--color-primary);
  }

  #footerAccordion .accordion-item {
    margin-bottom: 14px;
    border: 0;
    border-radius: 10px !important;
    overflow: hidden;
  }

  #footerAccordion .accordion-body {
    background-color: #EBF4FF;
  }

  #footerAccordion .accordion-button:focus {
    box-shadow: none;
  }

  #footerAccordion .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");

  }

  #footerAccordion .accordion-button:not(.collapsed)::after {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");

  }

  @media screen and (max-width:990px) {
    .footer-inner {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width:767px) {
    footer {
      padding-top: 30px;
    }

    .footer-divider {
      margin-block: 15px;
    }

    .footer-title {
      margin-bottom: 10px;
    }

    .footer-inner {
      padding-inline: 15px;
    }

    .footer-contact-info img {
      height: 20px;
      width: 20px;
    }

    .footer-social-icons img {
      height: 25px;
      width: 25px;
    }

    .footer-contact-info {
      margin-block: 15px;
      gap: 10px;
    }

    .footer-bottom {
      flex-wrap: wrap;
      gap: 10px;
      text-align: center;
      justify-content: center;
    }

    .footer-divider {
      margin-block: 15px;
    }

    .mobileFooterHide {
      display: none;
    }
  }


  @media screen and (max-width:550px) {
    .footer-contact-info {
      flex-direction: column;
    }
  }