.why-choose-section {
    background-blend-mode: overlay;
    background-color: var(--color-cyan-blue);
    background-size: cover;
}

.why-choose-section-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
}

.why-choose-img {
    height: 200px;
    box-shadow: 0 4px 8px #0000001a;
    border-radius: 10px;
}

.why-choose-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 990px) {
    .why-choose-img {
        height: 240px;
        object-position: top;
    }

}